footer{
    background-image: url(../../assets/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 5rem;
}